<!DOCTYPE html>

<html>
<head>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: GOOGLE FONTS -->
    <link href="~/Content/css.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- end: GOOGLE FONTS -->

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/kendo/css")

    <link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />

    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="~/Lib/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Lib/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Lib/vendor/themify-icons/themify-icons.min.css">
    <link href="~/Lib/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Lib/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="~/Lib/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <!-- end: MAIN CSS -->

    <link href="~/Lib/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Lib/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Lib/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Lib/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">


    <!-- start: CLIP-TWO CSS -->
    <link rel="stylesheet" href="~/Lib/assets/css/styles.css">
    <link rel="stylesheet" href="~/Lib/assets/css/plugins.css">
    <link href="~/Lib/assets/css/themes/theme-1.css" rel="stylesheet" id="skin_color" />
    <!-- end: CLIP-TWO CSS -->

    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/kendo/2016.2.607/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/images/jquery-confirm.js")"></script>

    @*<link href="~/Content/jqgrid/style_002.css?v=201509252020" rel="stylesheet" type="text/css">*@
    <link href="~/Content/jqgrid_dm/jquery-ui.css?v=201512161420" rel="stylesheet" type="text/css">
    <link href="~/Content/jqgrid_dm/jquery_002.css?v=201512161420" rel="stylesheet" type="text/css">
    <link href="~/Content/jqgrid_dm/ui.css?v=201512161420" rel="stylesheet" type="text/css">
    <link href="~/Content/jqgrid_dm/ui_002.css?v=201512161420" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app" class="app-navbar-fixed app-sidebar-fixed">
        <div class="app-content">
            <!-- sidebar -->
            @Html.Partial("_LayoutMenuUpload")
            <!-- / sidebar -->
            <!-- start: TOP NAVBAR -->
            <header class="navbar navbar-default navbar-static-top">
                <!-- start: NAVBAR HEADER -->
                <div class="navbar-header">
                    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="#">
                        <img height="100%" src="~/Images/logopctt.png" alt="Cục phòng chống thiên tai" />
                    </a>
                    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="ti-view-grid"></i>
                    </a>
                </div>
                <!-- end: NAVBAR HEADER -->
                <!-- start: NAVBAR COLLAPSE -->
                <div class="navbar-collapse collapse">
                    <div class="navbar-left"> Vận Hành Liên Hồ Chứa </div>
                    <ul class="nav navbar-right">
                        <!-- start: LANGUAGE SWITCHER -->
                        @*<li class="dropdown">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-world"></i> English
                            </a>
                            <ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
                                <li>
                                    <a href="#" class="menu-toggler">
                                        Tiếng Việt
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="menu-toggler">
                                        English
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                        <!-- start: LANGUAGE SWITCHER -->
                        <!-- start: USER OPTIONS DROPDOWN -->
                        <li class="dropdown current-user">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                                @*<img src="~/Lib/assets/images/avatar-1.jpg" alt="Peter">*@ <span class="username">@Cwrs.Lib.Security.CurrentUserFullName<i class="ti-angle-down"></i></span>
                            </a>

                            <ul class="dropdown-menu dropdown-dark">
                                @*<li>
                                    <a href="pages_user_profile.html">
                                        Thiết lập tài khoản
                                    </a>
                                </li>*@
                                <li>
                                    @*<a onclick="mainsys.LogOut()">
                                        Đăng xuất
                                    </a>*@                                        
                                    @Html.ActionLink("Đăng xuất", "Index", "DangNhap", new { x = Cwrs.Lib.Security.CurrentUserId}, null)
                                </li>
                            </ul>

                        </li>
                        <!-- end: USER OPTIONS DROPDOWN -->
                    </ul>
                    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
                    <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <div class="arrow-left"></div>
                        <div class="arrow-right"></div>
                    </div>
                    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
                </div>
                <!-- end: NAVBAR COLLAPSE -->
            </header>
            <!-- end: TOP NAVBAR -->
            <section class="main-content">
                <section class="wrap-content container" id="contentmanin">
                    @*<section id="bodydegsin" class="col-md-4">
                        <section id="contentmanin" class="col-md-12">*@
                    @RenderBody()
                    @*</section>
                            <a class="show-map fa fa-chevron-right" id="IDViewMap" onclick="ViewMap(this)" _isshowmap="1">
                            </a>
                        </section>
                        @Html.Partial("_LayoutPhu")*@
                </section>
            </section>
        </div>
        <!-- start: FOOTER -->
        <footer>
            <div class="footer-inner">
                <div class="pull-left">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Trung Tâm Công Nghệ Phần Mềm - Viện Khoa Học Thủy Lợi Việt Nam</span>. <span></span>
                </div>
                @*<div class="pull-right">
                    <span class="go-top"><i class="ti-angle-up"></i></span>
                </div>*@
            </div>
        </footer>
        <!-- end: FOOTER -->
        <!-- start: OFF-SIDEBAR -->
        <div id="off-sidebar" class="sidebar">
            <div class="sidebar-wrapper">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#off-users" aria-controls="off-users" role="tab" data-toggle="tab">
                            <i class="ti-comments"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#off-favorites" aria-controls="off-favorites" role="tab" data-toggle="tab">
                            <i class="ti-heart"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#off-settings" aria-controls="off-settings" role="tab" data-toggle="tab">
                            <i class="ti-settings"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="off-users">
                        <div id="users" toggleable active-class="chat-open">
                            <div class="users-list">
                                <div class="sidebar-content perfect-scrollbar">
                                    <h5 class="sidebar-title">On-line</h5>
                                    <ul class="media-list">
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <i class="fa fa-circle status-online"></i>
                                                <img alt="..." src="~/Lib/assets/images/avatar-2.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Nicole Bell</h4>
                                                    <span> Content Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <div class="user-label">
                                                    <span class="label label-success">3</span>
                                                </div>
                                                <i class="fa fa-circle status-online"></i>
                                                <img alt="..." src="~/Lib/assets/images/avatar-3.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Steven Thompson</h4>
                                                    <span> Visual Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <i class="fa fa-circle status-online"></i>
                                                <img alt="..." src="~/Lib/assets/images/avatar-4.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Ella Patterson</h4>
                                                    <span> Web Editor </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <i class="fa fa-circle status-online"></i>
                                                <img alt="..." src="~/Lib/assets/images/avatar-5.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Kenneth Ross</h4>
                                                    <span> Senior Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <h5 class="sidebar-title">Off-line</h5>
                                    <ul class="media-list">
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="..." src="~/Lib/assets/images/avatar-6.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Nicole Bell</h4>
                                                    <span> Content Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <div class="user-label">
                                                    <span class="label label-success">3</span>
                                                </div>
                                                <img alt="..." src="~/Lib/assets/images/avatar-7.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Steven Thompson</h4>
                                                    <span> Visual Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="..." src="~/Lib/assets/images/avatar-8.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Ella Patterson</h4>
                                                    <span> Web Editor </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="..." src="~/Lib/assets/images/avatar-9.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Kenneth Ross</h4>
                                                    <span> Senior Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="..." src="~/Lib/assets/images/avatar-10.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Ella Patterson</h4>
                                                    <span> Web Editor </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="..." src="~/Lib/assets/images/avatar-5.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Kenneth Ross</h4>
                                                    <span> Senior Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="user-chat">
                                <div class="chat-content">
                                    <div class="sidebar-content perfect-scrollbar">
                                        <a class="sidebar-back pull-left" href="#" data-toggle-class="chat-open" data-toggle-target="#users"><i class="ti-angle-left"></i> <span>Back</span></a>
                                        <ol class="discussion">
                                            <li class="messages-date">
                                                Sunday, Feb 9, 12:58
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        Hi, Nicole
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        How are you?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Hi, i am good
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        Glad to see you ;)
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="messages-date">
                                                Sunday, Feb 9, 13:10
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        What do you think about my new Dashboard?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="messages-date">
                                                Sunday, Feb 9, 15:28
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Alo...
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Are you there?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        Hi, i am here
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Your Dashboard is great
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="messages-date">
                                                Friday, Feb 7, 23:39
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        How does the binding and digesting work in AngularJS?, Peter?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        oh that's your question?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        little reduntant, no?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        literally we get the question daily
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        I know. I, however, am not a nerd, and want to know
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        for this type of question, wouldn't it be better to try Google?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Lucky for us :)
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Lib/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="message-bar">
                                    <div class="message-inner">
                                        <a class="link icon-only" href="#"><i class="fa fa-camera"></i></a>
                                        <div class="message-area">
                                            <textarea placeholder="Message"></textarea>
                                        </div>
                                        <a class="link" href="#">
                                            Send
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="off-favorites">
                        <div class="users-list">
                            <div class="sidebar-content perfect-scrollbar">
                                <h5 class="sidebar-title">Favorites</h5>
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#">
                                            <img alt="..." src="~/Lib/assets/images/avatar-7.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Nicole Bell</h4>
                                                <span> Content Designer </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <div class="user-label">
                                                <span class="label label-success">3</span>
                                            </div>
                                            <img alt="..." src="~/Lib/assets/images/avatar-6.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Steven Thompson</h4>
                                                <span> Visual Designer </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <img alt="..." src="~/Lib/assets/images/avatar-10.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Ella Patterson</h4>
                                                <span> Web Editor </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <img alt="..." src="~/Lib/assets/images/avatar-2.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Kenneth Ross</h4>
                                                <span> Senior Designer </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <img alt="..." src="~/Lib/assets/images/avatar-4.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Ella Patterson</h4>
                                                <span> Web Editor </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <img alt="..." src="~/Lib/assets/images/avatar-5.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Kenneth Ross</h4>
                                                <span> Senior Designer </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="off-settings">
                        <div class="sidebar-content perfect-scrollbar">
                            <h5 class="sidebar-title">General Settings</h5>
                            <ul class="media-list">
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" checked />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">Enable Notifications</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">Show your E-mail</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" checked />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">Show Offline Users</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" checked />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">E-mail Alerts</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">SMS Alerts</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="save-options">
                                <button class="btn btn-success">
                                    <i class="icon-settings"></i><span>Save Changes</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: OFF-SIDEBAR -->
    </div>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    @Scripts.Render("~/bundles/kendo")
    <script src="@Url.Content("~/Scripts/kendo/2016.2.607/jszip.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2016.2.607/kendo.all.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
@*<script src="@Url.Content("~/Scripts/kendo/2016.2.607/angular.min.js")"></script>*@
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="~/Lib/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Lib/vendor/modernizr/modernizr.js"></script>
    <script src="~/Lib/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Lib/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Lib/vendor/switchery/switchery.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/Lib/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Lib/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Lib/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Lib/vendor/autosize/autosize.min.js"></script>
    <script src="~/Lib/vendor/selectFx/classie.js"></script>
    <script src="~/Lib/vendor/selectFx/selectFx.js"></script>
    <script src="~/Lib/vendor/select2/select2.min.js"></script>
    <script src="~/Lib/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Lib/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="~/Lib/assets/js/main.js"></script>
    <script src="~/Scripts/mainsys.js"></script>
    <script src="~/Lib/assets/js/form-elements.js"></script>

    <script src="~/Scripts/jqgrid_dm/grid.js" type="text/javascript"></script>
    <script type="text/javascript">        $.jgrid.no_legacy_api = true; $.jgrid.useJSON = true; $.jgrid.scrollOffset = 0;</script>
    <script src="~/Scripts/jqgrid_dm/jquery.js" type="text/javascript"></script>

    @*@Scripts.Render("~/bundles/jquery")*@

    <script>
        jQuery(document).ready(function () {
            Main.init();
            // Index.init();
            // FormElements.init();
            // TableData.init();
        });


    </script>
    @RenderSection("scripts", required: false)

</body>
@*@Scripts.Render("~/bundles/jqueryui")*@
</html>
