@using System.Web.Script.Serialization
@using Cwrs.DataBase.Models;
@model List<LuuLuongDenHo>
<table  class="tableBieuDo" style="width:95%;border:1px solid black">
    <thead>
        <tr colspan="8" style="background:#00e8ff;text-align:center">
            <th style="width: 7%;text-align:center;color:black" rowspan="2"><b>STT</b> </th>
            <th style="width: 16%;text-align:center;color:black" rowspan="2"><b>Thời gian</b></th>
            <th style="width: 66%;text-align:center;color:black" colspan="6"><b>Lưu lượng đến hồ <br/>(m<sup>3</sup>/s)</b></th>
        </tr>
        <tr style="background:#00e8ff;text-align:center">
            <th style="width: 11%;text-align:center;color:black"><b>Viện KHTL <br />(m<sup>3</sup>/s)</b></th>
            <th style="width: 11%;text-align:center;color:black"><b>ĐH Thủy lợi <br />(m<sup>3</sup>/s)</b></th>
            <th style="width: 11%;text-align:center;color:black"><b>Viện cơ học <br />(m<sup>3</sup>/s)</b></th>
            <th style="width: 11%;text-align:center;color:black"><b>KTTV TW <br />(m<sup>3</sup>/s)</b></th>
            <th style="width: 11%;text-align:center;color:black"><b>Viện QHTL <br />(m<sup>3</sup>/s)</b></th>
            <th style="width: 11%;text-align:center;color:black"><b>Viện KTTV <br />(m<sup>3</sup>/s)</b></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr colspan="8" style="text-align:center">
                <th rowspan="@Model[i].rowspan" style="width: 7%;text-align:center;color:black;font-weight:normal">@(i + 1)</th>
                <th rowspan="@Model[i].rowspan" style="width: 16%;text-align:center;color:black;font-weight:normal">@Model[i].thoi_gian.ToString("dd/MM/yyyy HH:mm")</th>
                @{
                    if (Model[i].luuLuong_KHTL.Count > 1)
                    {
                        <th style="width: 11%;text-align:center;color:black;font-weight:normal">
                            PA1: @Model[i].luuLuong_KHTL[0]
                        </th>
                    }
                    else
                    {
                        if (Model[i].luuLuong_KHTL.Count == 1)
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal">
                                PA1: @Model[i].luuLuong_KHTL[0]
                            </th>
                        }
                        else
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal"></th>
                        }
                    }
                }
                @{
                    if (Model[i].luuLuong_DHTL.Count > 1)
                    {
                        <th style="width: 11%;text-align:center;color:black;font-weight:normal">
                            PA1: @Model[i].luuLuong_DHTL[0]
                        </th>
                    }
                    else
                    {
                        if (Model[i].luuLuong_DHTL.Count == 1)
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal">
                                PA1: @Model[i].luuLuong_DHTL[0]
                            </th>
                        }
                        else
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal"></th>
                        }
                    }
                }
                @{
                    if (Model[i].luuLuong_VCH.Count > 1)
                    {
                        <th style="width: 11%;text-align:center;color:black;font-weight:normal">
                            PA1: @Model[i].luuLuong_VCH[0]
                        </th>
                    }
                    else
                    {
                        if (Model[i].luuLuong_VCH.Count == 1)
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal">
                                PA1: @Model[i].luuLuong_VCH[0]
                            </th>
                        }
                        else
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal"></th>
                        }
                    }
                }
                @{
                    if (Model[i].luuLuong_KTTVTW.Count > 1)
                    {
                        <th style="width: 11%;text-align:center;color:black;font-weight:normal">
                            PA1: @Model[i].luuLuong_KTTVTW[0]
                        </th>
                    }
                    else
                    {
                        if (Model[i].luuLuong_KTTVTW.Count == 1)
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal">
                                PA1: @Model[i].luuLuong_KTTVTW[0]
                            </th>
                        }
                        else
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal"></th>
                        }
                    }
                }
                @{
                    if (Model[i].luuLuong_VQHTL.Count > 1)
                    {
                        <th style="width: 11%;text-align:center;color:black;font-weight:normal">
                            PA1: @Model[i].luuLuong_VQHTL[0]
                        </th>
                    }
                    else
                    {
                        if (Model[i].luuLuong_VQHTL.Count == 1)
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal">
                                PA1: @Model[i].luuLuong_VQHTL[0]
                            </th>
                        }
                        else
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal"></th>
                        }
                    }
                }
                @{
                    if (Model[i].luuLuong_KTTV.Count > 1)
                    {
                        <th style="width: 11%;text-align:center;color:black;font-weight:normal">
                            PA1: @Model[i].luuLuong_KTTV[0]
                        </th>
                    }
                    else
                    {
                        if (Model[i].luuLuong_KTTV.Count == 1)
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal">
                                PA1: @Model[i].luuLuong_KTTV[0]
                            </th>
                        }
                        else
                        {
                            <th rowspan="@Model[i].rowspan" style="width: 11%;text-align:center;color:black;font-weight:normal"></th>
                        }
                    }
                }
            </tr>
                    for (int j = 1; j < Model[i].rowspan; j++)
                    {
                        <tr colspan="8" style="text-align:center">
                            @if (Model[i].luuLuong_KHTL.Count > j)
                    {
                                <th style="width: 11%;text-align:center;color:black;font-weight:normal">PA@(j + 1): @Model[i].luuLuong_KHTL[j]</th>
                            }
                            @if (Model[i].luuLuong_DHTL.Count > j)
                    {
                                <th style="width: 11%;text-align:center;color:black;font-weight:normal">PA@(j + 1): @Model[i].luuLuong_DHTL[j]</th>
                            }
                            @if (Model[i].luuLuong_VCH.Count > j)
                    {
                                <th style="width: 11%;text-align:center;color:black;font-weight:normal">PA@(j + 1): @Model[i].luuLuong_VCH[j]</th>
                            }
                            @if (Model[i].luuLuong_KTTVTW.Count > j)
                    {
                                <th style="width: 11%;text-align:center;color:black;font-weight:normal">PA@(j + 1): @Model[i].luuLuong_KTTVTW[j]</th>
                            }
                            @if (Model[i].luuLuong_VQHTL.Count > j)
                    {
                                <th style="width: 11%;text-align:center;color:black;font-weight:normal">PA@(j + 1): @Model[i].luuLuong_VQHTL[j]</th>
                            }
                            @if (Model[i].luuLuong_KTTV.Count > j)
                    {
                                <th style="width: 11%;text-align:center;color:black;font-weight:normal">PA@(j + 1): @Model[i].luuLuong_KTTV[j]</th>
                            }
                        </tr>
                        }
                    }
    </tbody>
</table>
